/* Container for the weather app */
.weather-container {
    justify-items: center;
    padding: 10px;
}

.temperature-card {
    font-family: 'Proxima Nova';
    justify-items: center;
    padding: 10px;
}

/* Temperature styles */
.temperature-current {
    font-family: 'Proxima Nova Black';
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.condition {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}

.temperature-high-low {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weather-card {
    font-family: 'Proxima Nova';
    /* Make the context aligned in the middle instead of top */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to top, #76adff, #e0e0e0);
    border-color: #8a9ff9;
    border-width: 2px;
    border-radius: 8px;
    margin: 10px;
    aspect-ratio: 1;
    min-width: 150px;
}

.loading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.loading-circle {
    width: 18px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #76adff;
    animation: pulse 1s infinite;
}

.loading-text {
    padding: 10px;
    text-transform: lowercase;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(118, 173, 255, 0.7);
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 0 5px rgba(118, 173, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(118, 173, 255, 0);
    }
}