.current-location-button {
    font-family: 'Proxima Nova';
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: clamp(12px, 3vw, 16px);
    padding: 6px 12px;
    margin: 15px;
    border-radius: 8px;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-self: right;
}

.current-location-button:hover {
    background-color: #45a049;
}

.current-location-button:focus {
    animation: 1s breathe infinite;
}

.current-location-button-active {
    font-family: 'Proxima Nova';
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 6px;
    margin: 15px 32px;
    border-radius: 8px;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-self: right;
    animation: 2s breathe infinite;
}

.current-location-icon {
    padding: 6px;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}