.forecast-card-container {
    height: fit-content;
    /* center objects within the container */
    display: block;
    justify-items: center;
    padding: 20px;
    text-transform: lowercase;
    font-family: 'Proxima Nova';
    font-weight: bold;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    /* As wide as the content */
    width: fit-content;
    /* Set the height to make it a square */
    /* aspect-ratio: 1; */
    border-radius: 8px;
    /* Fill the height */
    justify-content: space-between;
    background: linear-gradient(to top, #76adff, #e0e0e0);
    padding: 10px 8px;
}

.forecast-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    border-radius: 8px;
    margin: 0px;
    padding: 1px 0px;
}

.forecast-day {
    display: flex;
    text-align: left;
    width: 32px;
    margin: 0px 10px;
}

.forecast-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 1px;
    padding: 0px;
    border-radius: 8px;
    height: 100%;
}

.forecast-bar-temp {
    display: flex;
    text-align: left;
    width: 32px;
}

.forecast-bar-background {
    background-color: #e0e0e0;
    height: 10px;
    border-radius: 8px;
    margin: 0px 10px;
    width: 100px;
    align-content: center;
}

.forecast-bar {
    position: relative;
    background-color: #4CAF50;
    height: 10px;
    border-radius: 8px;
}