@import './fonts.css';

.App {
  text-align: center;
  background: linear-gradient(to top, #939393, #e0e0e0);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  padding-bottom: 20px;
}

.logo-container {
  display: flex;
  height: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.logo {
  padding: 8px;
  height: 90%;
  padding-right: 4px;
}

.title {
  font-family: 'Proxima Nova Black', sans-serif;
  text-align: left;
  font-size: 46px;
  letter-spacing: -1.5px;
  text-transform: lowercase;
}

/* General body styles */
body {
  font-family: 'Google Sans', sans-serif;
  justify-content: left;
  align-items: left;
  min-height: 100vh;
  background-color: #f0f0f0;
  /* Light gray background */
}

.content {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Styles for the city name */
.city-name {
  font-family: 'Proxima Nova', sans-serif;
  text-transform: lowercase;
  font-size: 36px;
  font-weight: bold;
}