@import './fonts.css';

.App {
  text-align: center;
  background: linear-gradient(to top, #939393, #e0e0e0);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 20px;
  overflow: hidden;
}

.logo-container {
  min-width: 0;
  display: flex;
  /* height: 70px; */
  padding: 0px;
  padding-right: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.right-side-container {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
}

.logo {
  /* max-height: 80%; */
  aspect-ratio: 1;
  flex-shrink: 50;
  min-width: 30px;
  width: clamp(30px, 7vw, 50px);
  max-width: 50px;
}

.title {
  min-width: 0;
  max-width: 150px;
  padding-right: 8px;
  font-family: 'Proxima Nova Black', sans-serif;
  text-align: left;
  /* make text fit the container size */
  font-size: clamp(26px, 6vw, 46px);
  letter-spacing: clamp(-1px, 0.5vw, -1.5px);
  text-transform: lowercase;
  transition: font-size 0.5s ease-in-out;
}

/* General body styles */
body {
  font-family: 'Google Sans', sans-serif;
  justify-content: left;
  align-items: left;
  min-height: 100vh;
  background-color: #f0f0f0;
  /* Light gray background */
}

.content {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Styles for the city name */
.city-name {
  font-family: 'Proxima Nova', sans-serif;
  text-transform: lowercase;
  font-size: 36px;
  font-weight: bold;
}