@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proximanova_bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('./fonts/proximanova_black.woff2') format('woff2');
    font-weight: bold;
}